* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}



header {
  height: 800px;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));
}

.list {
  float: left;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
}
.list li{
  list-style: none;
  float: left;
  font-size: 19px; /* 1919の19です */
}

.box {
  height: 1000px;
  margin: -600px 30% 0px 30%;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.sackey {
  padding: 25px;
  height: 180px;
  width: 180px;
}





@media screen and (max-width: 800px) {
 .box {
   margin: -600px 5% 0px 5%;
 }

 .sackey {
   padding: 12.5px;
   height: 90px;
   width: 90px;
 }

}




.atutu {
  margin: 500px;
  animation:0.3s linear infinite rotation1;
}
@keyframes rotation1{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}
